{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}


        <main class="mt-5">
            <section class="container mb-5">
                <article class="rounded border shadow pt-4 pr-4 pl-4 pb-4 offset-md-3 col-md-5">
                    <h3> Novo Contato </h3>
                    <form class="" action="" method="POST">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </form>
                </article>
            </section>
        </main>
        <footer>

        </footer>

{% endblock %}