{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<main class="">
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box p-md-5">
                    <header>
                        <h5> Agenda </h5>
                    </header>
                    <div id="calendar_content" class="body">
                        <div id='calendar'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-12">

            </div>
        </div>
    </section>
</main>


{% endblock %}

