{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}


    <div class="row m-3">
        <div class="offset-md-2 col-md-8 rounded border shadow table-responsive-lg" style="margin-top: 40px">
            <div class="box">
                <header>
                    <h5></h5>
                </header>
                <div id="calendar_content" class="body">
                    <div id='calendar'>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}