{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <main class="container">
        <section class="mt-4">
            <h3>Salas</h3>
            <article class="rounded border shadow pt-4 pr-4 pl-4 table-responsive-lg">
                <table class="table table-hover table-fa-lg">
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Capacidade
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for sala in object_list %}
                        <tr>
                            <td>
                                {{ sala.nome }}
                            </td>
                            <td>
                                {{ sala.capacidade }}
                            </td>
                            <td>
                                {{ sala.status }}
                            </td>
                            <td>
                                {{ sala.tipo }}
                            </td>
                            <td>
                                <a>
                                    <i class="fas fa-search"></i>
                                </a>
                                <a href="{% url 'sala_altera' sala.id %}">
                                    <i class="far fa-edit fa-lg"></i>
                                </a>
                                <a href="{% url 'sala_deleta' sala.id %}">
                                    <i class=" far fa-trash-alt fa-lg" style="color: #f06595;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </article>
            <div class="mt-4 offset-sm-11">
                <a class="btn btn-sm btn-success shadow" href="{% url 'sala_novo' %}">Novo</a>
            </div>
        </section>
    </main>



{% endblock %}

